body {
    background: rgb(217, 0, 255);
}

h1 {
    text-align: center;
    color: rgb(243, 243, 247);
}

a {
    display: block;
    text-align: center;
    color: rgb(243, 243, 247);
    margin-top: 20px;
}